/*----Bones description----*/
.content-bones {
	width: 100%;
	position: absolute;
}

.content-description {
	width: 80%;
	margin-left: 7em;
}

h4 {
	text-align: center;
}

p .content-description {
	text-align: justify;
}