/*-----General Game-----*/
.container {
	margin: 0 auto;
	width: 99%;
}

.main h1 {
	font-size: 80px;
	font-weight: 300;
}

#title {
	font-family: bonesfont;
	text-align: center;
}

#skull {
	width: 1000px;
	height: 250px;
	margin-left: 11.5em;
}

#img-skull {
	margin-left: 1.5em;
	width: 159px;
	height: 225px;
}

#startbutton {
	width: 100px;
	height: 50px;
	margin-left: 45.5em;
	margin-top: 5em;
	border-radius: 5px;
	border: solid 2px #036340;
	background-color: #EDF2F1;
}
