.draggable {
	width: 90px;
	border: solid 1px;
	background: white;
	text-align: center;
}

.draggable.ui-draggable-dragging {
	background: #90D1B9;
}

.ui-droppable {
	width: 100px;
	height: 20px;
	border: solid 1px;
}

#bonePile {
	float: left;
}
#match {
	float:right;
	overflow: hidden;
}

#match div {
	border: solid 1px;
}

.clear{
	clear: both;
}