
/*-----Index Seletons-----*/
.levels img {
	width: 200px;
	height: 200px;
  	border-radius: 30%;
}
	
.levels {
	width: 100%;
}

.disabled-level{
	pointer-events: none;
}
	
#img-levels0 h3 {
	margin-left: 3.7em;
}

#img-levels0 {
	position: absolute;
	top: -1em;
	left: 35em;
}

#img-levels1 h3 {
	font: bold large serif;
	margin-left: 1.2em;
}

#img-levels1 {
	position: absolute;
	top: 8em;
	left: 18em;
}

#img-levels2 h3 {
	margin-left: 2em;
}

#img-levels2 {
	position: absolute;
	top: 8em;
	left: 52em;
}

#img-levels3 h3 {
	
}

#img-levels3 {
	position: absolute;
	top: 25em;
	left: 24em;
}

#img-levels4 {
	
}

#img-levels4 {
	position: absolute;
	top: 25em;
	left: 47em;
}

/*----Show Skeletons-Title----*/
.content-body {
	width: 99%;
	position: absolute;
}

h2 {
	text-align: center;
}

/*----Show Skeletons-DRAG & DROP----*/
.draggable {
	width: 100px;
	border: solid 1px;
	background: white;
	text-align: center;
	margin-top: 0.2em;
}

.draggable.ui-draggable-dragging {
	background: #90D1B9;
}

.ui-droppable {
	width: 100px;
	height: 20px;
}

#bonePile {
	float: left;
}
/*----Level 1----*/
#match {
	overflow: hidden;
}

#match div {
	position: absolute;
	border: solid 1px;
	z-index: 1;
}

#Craneo0 {
	top: 7.9em;
	left: 8.1em;
}

#Craneo1 {
	top: 19em;
	left: 75em;
}

#Craneo2 {
	top: 7.2em;
	left: 75em;
}

#Craneo3 {
	top: 15.1em;
	left: 75em;
}

#Craneo4 {
	top: 16.9em;
	left: 75em;
}

#Craneo5 {
	top: 19.2em;
	left: 38.2em;
}

#Craneo6 {
	top: 16.6em;
	left: 8.1em;
}

#Craneo7 {
	top: 25.5em;
	left: 8.1em;
}

#Craneo8 {
	top: 16.9em;
	left: 38.2em;
}

#Craneo9 {
	top: 21em;
	left: 8.1em;
}

#Craneo10 {
	top: 21.7em;
	left: 75em;
}

#Craneo11 {
	top: 22.6em;
	left: 38.2em;
}

#Craneo12 {
	top: 28.2em;
	left: 8.1em;
}

#Craneo13 {
	top: 30em;
	left: 34.8em;
}

#Craneo14 {
	top: 28.2em;
	left: 75em;
}

/*----Level 2----*/
img[id='Columna Vertebral'] {
	margin-left: 9em;
}

div[id='Columna Vertebral3'] {
	top: 28em;
	left: 19em;
}

div[id='Columna Vertebral4'] {
	top: 34.2em;
	left: 20.2em;
}

div[id='Columna Vertebral5'] {
	top: 36.6em;
	left: 34.1em;
}

div[id='Columna Vertebral6'] {
	top: 39.8em;
	left: 33.6em;
}

div[id='Columna Vertebral7'] {
	top: 34.4em;
	left: 57.3em;
}

div[id='Columna Vertebral8'] {
	top: 23.5em;
	left: 55.6em;
}

.clear {
	clear: both;
}

/*----Next Level----*/
.next-level {
	width: 350px;
	height: 150px;
	border: solid 2px;
	display: none;
	margin-left: 30em;
	margin-top: 5em;
	border-radius: 5px;
}

.congrats {
	margin-top: 2em;
	text-align: center; 
}

.button-nextLevel {
	margin-left: 9.9em;
	margin-top: 1.5em;
	padding: 0.5em; 
}

/*----Show Skeletons-img ----*/
.skeletons-img {
	float: left;
	margin-left: 130px;
}
