<h2><%= @skeletons.name %></h2>
<% @skeletons.bones.each do |bone| %>
	<div id = "content">
		 <div class = "draggable">
			<%= bone.name %>
		 </div>
	</div>
<% end %>
	
	<div id = "droppable"></div>

<button><%= link_to 'Bones Description', game_skeleton_bones_path(@game, @skeletons) %></button>

<button><%= link_to 'LEVELS', game_skeletons_path(@game) %></button>